<footer class="site-footer">
  <small>
    Copyright protection by <a href ="">Creative Commons 4.0</a> and supplemented<a href="https://www.tylerroderick.com">.: B.O.U.~M. :. </a>.
    Check the <a href="https://www.followgu.us/boum">.: B.O.U.~M. :. License Agreement</a> here.
  </small>
</footer>
